@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  overflow-x: hidden;
  font-family: "EB Garamond", serif !important;
}

header {
  background: linear-gradient(70deg, black 62%, rgba(46, 46, 46, 0.6573004202) 100%);
}
header .search-bar {
  padding: 0.1px 10px;
  width: 25%;
  float: right;
}
header li {
  white-space: nowrap !important;
}
header .main-nav {
  top: 17px;
}

.social-banner {
  background-color: black;
}

.koben-images {
  width: 75%;
  border: 5px solid #eeeeee;
}

.text-info {
  font-size: 13px;
}

.article-button {
  background: linear-gradient(0deg, #4681a0 62%, #58a3c9 100%);
  cursor: hand;
  color: white;
  font-weight: 300;
  border: none;
  padding: 3px 50px;
  transition: all 0.5s ease-in;
  filter: drop-shadow(0 0 1px black);
}

.article-button:hover {
  background: linear-gradient(0deg, #58a3c9 100%, #4681a0 62%);
  transform: scale(1.05);
}

.read-more1 {
  display: none;
}

.read-more2 {
  display: none;
}

.read-more3 {
  display: none;
}

.article-line {
  height: 1px;
  background: linear-gradient(90deg, #f0f0f0 8%, #cccccc 53%, #f0f0f0 94%);
}

.sidebar {
  background-color: #ebebeb;
  position: sticky;
  height: 125vh;
}

.sidebar > a {
  color: #2f73a2;
}

li.active > a {
  background-color: #e3e7eb !important;
  border: 1px solid #e3e7eb !important;
}

.sponsors {
  width: 100vw;
}

.sponsors-place {
  width: 170px;
  height: 100px;
  border: 5px solid #eeeeee;
}

footer {
  background-color: black;
}

.footer-text {
  color: #9f9f9f;
}

.flicker-stream > img {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  li > a {
    font-size: 13px;
  }

  .main-nav {
    top: 0px !important;
  }
}
@media only screen and (max-width: 375px) {
  .act-together {
    font-size: 20px;
  }

  .search-bar {
    float: none !important;
    padding: 0.1px 10px;
    width: 100% !important;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .sponsors {
    margin-right: 220px !important;
  }
}

/*# sourceMappingURL=styles.css.map */
