@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

$article-line: linear-gradient(90deg, rgba(240,240,240,1) 8%, rgba(204,204,204,1) 53%, rgba(240,240,240,1) 94%);
$footer-color: #9f9f9f;

@mixin main-font {
    font-family: 'EB Garamond', serif!important;
}
@mixin main-border {
    border: 5px solid rgb(238, 238, 238);
}