// it is recommended to retrieve a partial with @use but I am not using Dart Sass

@import "variables";

body {
  overflow-x: hidden;
  @include main-font;
}

// HEADER

header {
  background: linear-gradient(
    70deg,
    rgba(0, 0, 0, 1) 62%,
    rgba(46, 46, 46, 0.6573004201680672) 100%
  );
  .search-bar {
    padding: 0.1px 10px;
    width: 25%;
    float: right;
  }
  li {
    white-space: nowrap !important;
  }
  .main-nav {
    top: 17px;
  }
}

// SOCIAL

.social-banner {
  background-color: black;
}

// MAIN CONTENT
.koben-images {
  width: 75%;
  @include main-border;
}

.text-info {
  font-size: 13px;
}

.article-button {
  background: linear-gradient(
    0deg,
    rgba(70, 129, 160, 1) 62%,
    rgba(88, 163, 201, 1) 100%
  );
  cursor: hand;
  color: white;
  font-weight: 300;
  border: none;
  padding: 3px 50px;
  transition: all 0.5s ease-in;
  filter: drop-shadow(0 0 1px black);
}

.article-button:hover {
  background: linear-gradient(
    0deg,
    rgba(88, 163, 201, 1) 100%,
    rgba(70, 129, 160, 1) 62%
  );
  transform: scale(1.05);
}

.read-more1 {
  display: none;
}
.read-more2 {
  display: none;
}
.read-more3 {
  display: none;
}
.article-line {
  height: 1px;
  background: $article-line;
}

// SIDEBAR

.sidebar {
  background-color: #ebebeb;
  position: sticky;
  height: 125vh;
}
.sidebar > a {
  color: rgb(47, 115, 162);
}

// PAGINATION

li.active > a {
  background-color: rgb(227, 231, 235) !important;
  border: 1px solid rgb(227, 231, 235) !important;
}

// SPONSORS

.sponsors {
  width: 100vw;
}
.sponsors-place {
  width: 170px;
  height: 100px;
  @include main-border;
}

// FOOTER
footer {
  background-color: black;
}
.footer-text {
  color: $footer-color;
}
.flicker-stream > img {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  li > a {
    font-size: 13px;
  }
  .main-nav {
    top: 0px!important;
  }
}

@media only screen and (max-width: 375px) {
  .act-together {
    font-size: 20px;
  }
  .search-bar {
    float: none !important;
    padding: 0.1px 10px;
    width: 100% !important;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .sponsors {
    margin-right: 220px!important;
  }
}
